.banner{
	background-image: linear-gradient(-225deg, rgb(69 63 63 / 80%) 0%, rgb(96 85 85 / 20%) 50%), url(../../images/background.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 50px;
}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	opacity: 0,8;
	margin-bottom: 40px;
}

